html {
  background: url(../images/sky.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  z-index: 100;
}

body{
  margin:0px;
}
@font-face {
  font-family: myFirstFont;
  src: url(../fonts/webcomic.ttf);
}

#wrap{
  border: solid 0px black;
  width:100vw;
}

header{
  border:solid 0px black;
  display : flex;
  padding : 10px;
  flex-direction: column;
}

#logo{
  border: solid 0px black;
  min-height:50px;
  flex-grow: 1;
}

nav ul{
  list-style: none;
  padding: 0px;
  margin: 0px;
  border: solid 1px black;

  display: flex;
  flex-direction : column;
}

nav ul li a{
  flex-grow: 1;
  text-align : center;
}

nav ul a:link{
  color: grey;
  font-weight: bold;
  text-decoration: none;
  text-transform: uppercase;
  font-family: myFirstFont;
}

nav ul a:active{
  color: #FFEC84;
  text-decoration: none;
}
/*
nav ul a:hover{
  color: #FFEC84;
  text-decoration: none;
}
*/
nav ul a:focus{
  color: #FFEC84;
  text-decoration: none;
}

nav ul a:visited{
  color: #777;
  text-decoration: none;
}

nav ul li{
  border: solid 1px black;
  flex-grow: 1;
  padding-top: 10px;
  padding-bottom: 10px;
  color: green;
  height : 60px;

  display : flex;
  align-items : center;
  justify-content: center;
}

nav ul li:hover{
  background: lightgreen;
}

#mainArea{
  border: solid 0px black;
  min-height:450px;
  display:flex;
  margin:10px;
  padding-bottom: 20px;
}

.list{
  flex-grow:1;
  display : flex;
  justify-content: center;
  align-items : center;
  position: absolute;
  top:120vh;
}

.vedio{
  flex-grow:1;
  display : flex;
  justify-content: center;
  align-items : center;
  position: absolute;
  padding-top: 11px;
  top:150vh;
}

#subArea{
  border:solid 0px green;
  display:flex;
  flex-wrap: wrap;
}

.thumb{
  padding-top: 5px;
  border:solid 0px black;
  flex-grow:1;
  margin:10px;
  min-height:250px;
  max-height:250px;
  position: relative;
  min-width : 250px;
}

footer{
  border:solid 0px black;
  margin-top:10px;
  min-height:175px;
}
